<nav class="navbar navbar-expand-lg navbar-light bg-light bg-gradient mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/coctails-listing">Your Coctails</a>

    <div class="btn-group">
      <input (change)="changeDarkMode($event)" type="checkbox" class="btn-check btn-outline-dark px-3" id="darkmode" autocomplete="off">
      <label class="btn btn-outline-dark" for="darkmode">
        <span class="bi bi-moon"></span>
        Darkmode
      </label>
    </div>
  </div>
</nav>
